<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Registrations number:</b>
  <%= @company.registrations_number %>
</p>

<p>
  <b>Tax:</b>
  <%= @company.tax_id %>
</p>

<p>
  <b>Logo url:</b>
  <%= @company.logo_url %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
